body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(243, 140, 51, 0.9);
    z-index: 1000;
    transition: background-color 0.3s;
}

.fixed-header.active {
    background-color: rgba(255, 255, 255, 1);
}

header .logo {
    float: left;

}

header .logo img {
    width: 110px;
}

header .menu {
    float: right;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.banner {
    position: relative;
    height: 400px;
    /* Adjust the height as needed */
    overflow: hidden;
}

.banner img {
    width: 100%;
    transform: skewY(-3deg);
}

.list-post {
    margin: 20px;
}

.post-card {
    /* Style for each post card */
    margin-bottom: 20px;
}

.post-thumbnail {
    width: 100%;
    height: 200px;
    /* Adjust the height as needed */
    object-fit: cover;
}

.post-title {
    font-size: 16px;
    line-height: 1.2;
    max-height: 3.6em;
    /* 3 lines * line height */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Add styles for other elements as needed */